name: restaurats-api-cd

on:
  push:
    branches: 
    - master
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name:  Build
        run: dotnet build --no-restore -c Release
      - name:  Publish
        run: dotnet publish ./Restaurants.API/Restaurants.API.csproj -o ${{env.DOTNET_ROOT}}/api --no-build
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: api-artifact
          path: ${{env.DOTNET_ROOT}}/api
        
  


    
